BasedOnStyle: WebKit
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation

BreakBeforeBraces: Allman

AlignAfterOpenBracket: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignOperands: true

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

NamespaceIndentation: Inner

SpaceAfterCStyleCast: false
SpaceBeforeParens: Never
SpaceInEmptyParentheses: true
SpacesInAngles: true
SpacesInParentheses: true
SpacesBeforeTrailingComments: 1

IndentCaseLabels: false
IndentWrappedFunctionNames: true

PointerAlignment: Right

ColumnLimit: 0
BinPackArguments: false
