[submodule "mainui"]
	path = mainui
	url = https://github.com/FWGS/mainui_cpp
[submodule "ref_gl/nanogl"]
	path = ref_gl/nanogl
	url = https://github.com/FWGS/nanogl
[submodule "ref_gl/gl-wes-v2"]
	path = ref_gl/gl-wes-v2
	url = https://github.com/FWGS/gl-wes-v2
[submodule "ref_gl/gl4es"]
	path = ref_gl/gl4es
	url = https://github.com/ptitSeb/gl4es
[submodule "vgui_support"]
	path = vgui_support
	url = https://github.com/FWGS/vgui_support
[submodule "opus"]
	path = 3rdparty/opus/opus
	url = https://github.com/xiph/opus
