[submodule "jni/src/NanoGL/nanogl"]
	path = jni/src/NanoGL/nanogl
	url = https://github.com/FWGS/nanogl
[submodule "jni/src/Xash3D/xash3d"]
	path = jni/src/Xash3D/xash3d
	url = https://github.com/FWGS/xash3d
[submodule "xash-extras"]
	path = xash-extras
	url = https://github.com/FWGS/xash-extras
[submodule "jni/src/hlsdk-xash3d"]
	path = jni/src/hlsdk-xash3d
	url = https://github.com/FWGS/hlsdk-xash3d
[submodule "src/org/json"]
	path = src/org/json
	url = https://github.com/stleary/JSON-java
