<?xml version="1.0" encoding="utf-8"?>
<!-- Replace org.libsdl.app with the identifier of your game below, e.g.
     com.gamemaker.game
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="in.celest.xash3d.hl"
	android:versionCode="1096"
	android:versionName="0.19.1"
	android:installLocation="auto">

	<application android:label="@string/app_name"
		android:icon="@drawable/ic_launcher"
		android:allowBackup="true"
		android:debuggable="false"
		android:hardwareAccelerated="true">
		
		<activity android:name="in.celest.xash3d.LauncherActivity"
			android:label="@string/launcher_name"
			android:windowSoftInputMode="adjustResize"
			android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize">
			<intent-filter>
				<action android:name="in.celest.xash3d.LauncherActivity"/>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	
		<!--<activity android:name="in.celest.xash3d.SteamActivity"
			android:label="Steam"
			android:windowSoftInputMode="adjustResize"
			android:launchMode="singleTask">
		
			<intent-filter>
				<action android:name="in.celest.xash3d.SteamActivity"/>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		
		</activity>-->
		
		<activity android:name="in.celest.xash3d.ShortcutActivity" 
			android:label="@string/text_shortcut" 
			android:theme="@android:style/Theme.Dialog">
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			
			<intent-filter>
				<action android:name="in.celest.xash3d.SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<!--
		<activity android:name="org.libsdl.app.SDLActivity"
			android:screenOrientation="sensorLandscape"
			android:configChanges="orientation|screenSize"
			android:label="@string/app_name"
			android:taskAffinity="org.libsdl.app.SDLActivity" >
			<intent-filter>
				<action android:name="in.celest.xash3d.START" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		-->
		<activity android:name="in.celest.xash3d.XashActivity"
			android:screenOrientation="sensorLandscape"
			android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize"
			android:label="@string/app_name"
			android:launchMode="singleTask">
			<intent-filter>
				<action android:name="in.celest.xash3d.START" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity> 
		<activity android:name="in.celest.xash3d.FPicker"></activity>
		<activity android:name="in.celest.xash3d.XashTutorialActivity">
		</activity>

		<service android:name="in.celest.xash3d.XashService" android:stopWithTask="false" />
		<receiver android:name="in.celest.xash3d.XashService$exitButtonListener" />
		<receiver android:name="in.celest.xash3d.InstallReceiver">
			<intent-filter android:priority="100">
				<category android:name="android.intent.category.DEFAULT" />
				<action android:name="android.intent.action.PACKAGE_ADDED"  />
				<action android:name="android.intent.action.PACKAGE_CHANGED" />
				<action android:name="android.intent.action.PACKAGE_INSTALL" />
				<action android:name="android.intent.action.PACKAGE_REMOVED" />
				<action android:name="android.intent.action.PACKAGE_REPLACED" />
				<data android:scheme="package" />
			</intent-filter>
		</receiver>
		<!--<service android:name="in.celest.xash3d.SteamService" />-->
	</application>

	<!-- Some devices with Android 2.2 should support native activity, it was in unstable hidden API -->
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="19" />

	<!-- OpenGL ES 1.1 -->
	<uses-feature android:glEsVersion="0x00010000" /> 

	<!-- Permissions -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
</manifest> 
