<?xml version="1.0" encoding="utf-8"?>
<!-- Replace org.libsdl.app with the identifier of your game below, e.g.
     com.gamemaker.game
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="su.xash.engine"
	android:versionCode="1710"
	android:versionName="0.20.1"
	android:installLocation="auto"
	android:allowAudioPlaybackCapture="true">

	<application android:label="@string/app_name"
		android:icon="@drawable/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher"
		android:allowBackup="false"
		android:fullBackupOnly="false"
		android:debuggable="false"
		android:hardwareAccelerated="true"
		android:supportsRtl="false"
		android:usesCleartextTraffic="true">
		
		<activity android:name="su.xash.engine.LauncherActivity"
			android:label="@string/launcher_name"
			android:icon="@mipmap/ic_launcher"
			android:windowSoftInputMode="adjustResize"
			android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize">
			<intent-filter>
				<action android:name="su.xash.engine.LauncherActivity"/>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="su.xash.engine.ShortcutActivity" 
			android:label="@string/text_shortcut" 
			android:theme="@android:style/Theme.Dialog">
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			
			<intent-filter>
				<action android:name="su.xash.engine.SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name="su.xash.engine.XashActivity"
			android:screenOrientation="sensorLandscape"
			android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
			<intent-filter>
				<action android:name="su.xash.engine.START" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity> 
		<activity android:name="su.xash.engine.FPicker"></activity>
		<activity android:name="su.xash.engine.XashTutorialActivity">
		</activity>

		<service android:name="su.xash.engine.XashService" android:stopWithTask="false" />
		<receiver android:name="su.xash.engine.XashService$ExitButtonListener" />
		<receiver android:name="su.xash.engine.InstallReceiver">
			<intent-filter android:priority="100">
				<category android:name="android.intent.category.DEFAULT" />
				<action android:name="android.intent.action.PACKAGE_ADDED"  />
				<action android:name="android.intent.action.PACKAGE_CHANGED" />
				<action android:name="android.intent.action.PACKAGE_INSTALL" />
				<action android:name="android.intent.action.PACKAGE_REMOVED" />
				<action android:name="android.intent.action.PACKAGE_REPLACED" />
				<data android:scheme="package" />
			</intent-filter>
		</receiver>
		<!--<service android:name="su.xash.engine.SteamService" />-->
		<meta-data android:name="android.max_aspect" android:value="10000.0" />
		<meta-data android:name="android.allow_multiple_resumed_activities" android:value="true" /> <!-- don't pause engine on foldables -->
	</application>

	<!-- Some devices with Android 2.2 should support native activity, it was in unstable hidden API -->
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="28" />

	<!-- OpenGL ES 1.1 -->
	<uses-feature android:glEsVersion="0x00010000" /> 

	<!-- Permissions -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
</manifest> 
